*{
    max-width: 100%;
}
h1{
    text-align: center;
}
header{
    display: grid;
    background-color: green;
}
body{
    display: grid;
    grid-gap: 1em;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    max-width: 100%;
    background-color: black;
}
main{
    display:grid;
    background-color: yellow;
}
.section1{
    display:grid;
    background-color: red;
}
.section2{
    display:grid;
    background-color: brown
}
footer{
    display:grid;
    background-color: slateblue
}
@media only screen and (max-width: 37.5em){

}
@media only screen and (max-width: 48em){

}
@media only screen and (max-width: 60em){

