h1{
    text-align: center;
}
header{
    display: grid;
    background-color: #fb7e14;
}
body{
    display: grid;
    grid-gap: 1em;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    max-width: 100%;
    background-color:  	#292929;
}
main{
    display:grid;
    color: #cfc3c0;
}
.section1{
    display:grid;
    padding: 10px;
}
.section2{
    display:grid;
    padding: 10px;
}
footer{
    display:grid;
    background-color: #fb7e14
}
section h2{
    text-align: center;
}
.Takki{
    background-color: #cfc3c0; /* Green */
    border: none;
    color: #292929;
    padding: 7.5px 15px;
    border-radius: 25%;
    text-align: center;
    text-decoration: none;
    display: block;
    position: fixed;
    font-size: 32px;
    bottom: 2em;
    right: 2em;
}
@media only screen and (max-width: 37.5em){

}
@media only screen and (max-width: 48em){

}
@media only screen and (max-width: 60em){

}
@media screen and (min-width: 80em) { 
    /* kóði sem yfirritar fyrri skipanir og nýjar skipanir sem eiga við 80em skjástærð */  
    main{
      max-width: 60em;
      margin: 0 auto;
    }
    .haus footer{
        max-width: 100%;
    }
    main{
        font-size: 16px;
    }
  }