h1{
    text-align: center;
}
header{
    display: grid;
    background-color: #fb7e14;
}
body{
    display: grid;
    grid-gap: 1em;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    max-width: 100%;
    background-color:  	#292929;
}
main{
    display:grid;
    color: #cfc3c0;
}
.section1{
    display:grid;
    padding: 10px;
}
.section2{
    display:grid;
    background-color: ;
    padding: 10px;
}
footer{
    display:grid;
    background-color: #fb7e14
}
section h2{
    text-align: center;
}
@media only screen and (max-width: 37.5em){

}
@media only screen and (max-width: 48em){

}
@media only screen and (max-width: 60em){

}
@media screen and (min-width: 80em) { 
    /* kóði sem yfirritar fyrri skipanir og nýjar skipanir sem eiga við 80em skjástærð */  
    body{
      max-width: 80em;
      margin: 0 auto;
    }
    section p{
        padding-right: 5px;
        padding-left: 5px;
    }
    
  }